* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--primary-color: #fce138;
	--secondary-color: #024e76;
	--tertiary-color: #39a6b2;
}
body {
	color: var(--tertiary-color);
	font-family: Helvetica, Arial, sans-serif;
	background-color: rgb(212, 233, 247);
	/*apply styles to <header>*/
}
.hero {
	background-image: url("./images/hero.webp");
	height: 200px;
	background-size: cover;
	background-position: center;
	/*position: relative;*/
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: flex-start;
}

header {
	padding: 20px 35px;
	background-color: var(--tertiary-color);
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	position: sticky;
	top: 0;
	position: -webkit-sticky;
	/*background-image: url("../images/hero-bg.jpg");*/
	/*height: 600px;*/
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-position: 80%;
	z-index: 9999;
}
header h1 {
	font-weight: bold;
	font-size: 36px;
	color: var(--primary-color);
	margin: 0;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header a {
	text-decoration: none;
	color: var(--primary-color);
}
header nav {
	margin: 7px 0;
}
header nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}
header nav ul li a {
	padding: 10px 15px;
	font-weight: lighter;
	font-size: 1.55vw;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header nav ul li a:hover {
	background: var(--primary-color);
	color: var(--secondary-color);
	border-radius: 15px;
	text-shadow: none;
}
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	padding-bottom: 10px;

	scroll-margin-top: 6em;
}
.aboutme {
	width: 20%;
	/*align-content: center;*/
	justify-content: flex-start;
}
.aboutme h2 {
	text-align: center;
}
.aboutme img {
	max-width: 100%;
}

.education {
	width: 35%;
	/*text-align: center;*/
}
.container h3 {
	text-align: center;
	font-size: 28px;
	border-bottom: 1px solid black;
	margin: 10px;
	padding-bottom: 5px;
}
.schools {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-wrap: wrap;
}
/*.school img {
	display: flex;
}*/
.skills {
	width: 35%;
	/*display: flex;*/
}
.skill-list {
	display: flex;
	margin-top: 10px;
	flex-wrap: wrap;
	justify-content: space-around;
}
.skills h4 {
	text-align: center;
	font-size: 24px;
	border-bottom: 1px solid black;
	margin-bottom: 10px;
	margin-left: auto;
	padding-bottom: 5px;
}
.skills li {
	font-size: 20px;
}

.Work-History {
	width: 40%;
}
.Work-History h3 {
	font-size: 30px;
}
.Work-History h4 {
	font-size: 24px;
}
.Work-History p {
	font-size: 20px;
	padding-bottom: 15px;
}
.schools img {
	height: 50px;
	width: 50px;
	margin-left: 5px;
	margin-right: 5px;
}
.temp1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	width: auto;
	scroll-margin-top: 6em;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
}
.project-title {
	width: auto;
	border-right: 2px solid white;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.project-title h2 {
	padding-right: 10px;
	text-align: center;
	font-size: 30px;
}
.work-section-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	width: auto;
}
.temp1 img {
	border: 2px solid white;
}
.recent-work {
	width: auto;
}
.recent-work img {
	width: auto;
}
.old-work-container {
	display: flex;
	flex-wrap: wrap;
	width: auto;
	justify-content: space-around;
}
.old-work-container img {
	width: 300px;
}

.contact-info {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
.contact-info h2 {
	font-size: 30px;
}
.contacts {
	font-size: 26px;
}
.ci {
	display: flex;
	justify-content: space-around;
}
.contacts {
	display: flex;
	justify-content: space-around;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
	header {
		padding-bottom: 0;
		justify-content: center;
		position: relative;
	}

	header h1 {
		width: 100%;
		text-align: center;
	}

	header nav ul {
		margin-top: 20px;
		width: 100%;
		justify-content: center;
	}

	header nav ul li a {
		font-size: 20px;
	}

	footer h2,
	footer div {
		text-align: center;
		width: 100%;
	}
	.hero-cta,
	.hero-form {
		width: 100%;
	}

	.hero-cta {
		text-align: center;
	}
	.section-title {
		width: 80%;
	}

	.trainer {
		flex: 0 70%;
	}

	.contact-info iframe {
		flex: 1 100%;
	}
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
	section {
		padding: 30px 15px;
	}

	.step h3 {
		flex: 1 100%;
		text-align: center;
	}

	.step-info {
		flex: 2 100%;
		text-align: center;
		justify-content: center;
	}

	.step-img {
		flex: 0 32%;
		margin-right: 0;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.step-text {
		flex: 100%;
	}
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
	.hero-form button {
		width: 100%;
	}

	.section-title {
		width: 95%;
	}

	.intro p {
		width: 100%;
	}

	.trainer {
		flex: 0 100%;
	}

	.contact-info {
		text-align: center;
	}

	.contact-info > * {
		flex: 0 100%;
	}
	.contact-form {
		order: 3;
	}
}
